* {
	max-width: 100%;
}
header {
	height: 50px;
	background-color:black;
	color:white;
	font-family:'book antiqua';
}

nav a{
	color:black;
	font-size: 17px;
	margin-left: 5px;
	text-decoration: none;
}
nav a:hover {
	color:red;
	text-decoration: underline;
}

.form {
	background-color:slategray;
}